$main: #E9EAEC;
$secondary: #B7B8BA;
$tertiary: #9FA0A1;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    background-color: $main;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
}

.about-header {
    border: 1px solid black;
    flex: 0 1 auto;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0.4em 0em;
    white-space: nowrap; 
  
    .header-title {
      flex: 1;
      text-align: center;
      margin: 0;
    }
  
    .navbar {
      flex: 2;
    }
  
    .resume-box {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 0;
  
      .resume-button {
        box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
        @include center;
        gap: 0.8em;
        text-decoration: none;
        color: black;
        background-color: $main;
        border: 1px solid black;
        border-radius: 5% / 30%;
        padding: 0.3em 0.5em;
      }
    }
}



.burger-header {
  display: none;

  [type='checkbox'] {
  display: none;
  }

}


.about-main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 1px solid black;
  border-top: 0;
    
  .about-title {
      grid-area: title;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      h1 {
          font-size: 3em;
      }

      p {
          max-width: 60em;
          padding-bottom: 2em;
      }
  }

  .about-containers {
    height: 100%;
    @include center;
    flex-flow: row wrap;
    gap: 1em;
    align-items: flex-start;

    section {
      flex: 1 1 40%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;

        img {
          box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
          flex: 0 1 30%; 
          max-width: 100%;
          height: auto;
          min-width: 290px;
          border-radius: 10%;
        }

        .text-container {
          font-size: large;
          flex: 0 1 60%;
          text-align: left;
          list-style-position: inside;
          align-self: flex-start;
          
          @media screen and (max-width: 1024px) {
            flex: 0 1 80%;
          }

            ul {
              padding: 0;
            }
        }
    }
  }

  .nav-buttons {
      grid-area: buttons;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 2em;
      
      .nav-button {
        box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
        @include center;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 10% / 20%;
        color: black;
        background-color: $secondary;
        height: 2.5em;
        width: 6em;
        
      }

  }

}


.about-footer {
  flex: 0 0 auto;
  border: 1px solid black; 
  border-top: 0;
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0em 2em;
  white-space: nowrap;
  max-height: 2.5em;




  h3 {
    margin-left: auto;
  }
}

.socials > a { 
  text-decoration: none;
  font-size: x-large;
  
  .instagram-icon {
    background: linear-gradient(to right,
    #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    color: black; 
    -webkit-text-fill-color: transparent;  
  }

  .facebook-icon {
    color: #4267B2;
  }

  .linkedin-icon {
    color: #0a66c2;
  }

  .threads-icon {
    color: black;
  }

  .github-icon {
    color: black;
  }
}

.copyright {
  font-weight: bold;
  flex: 0 0 auto;
  border: 1px solid black; 
  border-top: 0;
  @include center;
  max-height: 1.5em;
  background-color: $tertiary;

  p {
    margin: 0;
    
  }
  
}



.navbar {
    @include center;

    ul {
        display: flex; 
        flex-flow: row nowrap;    
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            
            &:not(:first-child) {
            border-left: 1px solid black;
            }

            a:not(.current) {
            color: blue;
            padding: 0.5em;
            }

            .current {
                color: black;
                pointer-events: none;
                cursor: default;
                text-decoration: none;
                font-weight: bold;
                padding: 0.5em;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
  
    .about-footer, .about-header, .copyright {
        display: none;
    }

    .burger-header:has(input[type='checkbox']:checked) {
      position: fixed;
      height: 100%;
      flex: 1 1 auto;
      background-color: $secondary;
      border: 1px solid black;
    }

    .burger-header {
      position: fixed;
      flex: 1 1 auto;
      z-index: 1;
      height: 100%;
      display: inline-flex;
      flex-flow: column nowrap;
      margin-left: 0;
      margin-right: 0;

      

      label {
        text-shadow: 
          1px 1px 2px $secondary, 
          1px -1px 2px $secondary, 
          -1px 1px 2px $secondary, 
          -1px -1px 2px $secondary, 
          1px 0px 2px $secondary, 
          0px 1px 2px $secondary, 
          -1px 0px 2px $secondary, 
          0px -1px 2px $secondary;
        font-size: x-large;
        width: 1em;
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: auto;
      }

      input[type='checkbox']:not(:checked)+section {
        display: none;
      }
      
      section {
        height: 100%;
        width: auto;
        padding: 0 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        
        h2 {
          font-size: 1em;
          text-align: center;
          margin: 0;
        }

        ul {
          list-style: none;
          padding: 0;
          
          li {
            padding: 0.5em 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            a {
              color: black;
              text-decoration: none;
              
              i {
                text-align: center;
                width: 1.2em;
              }
            }
            
          }

        }

        .socials {
          flex-grow: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          
          a {
            padding: 0 0.5em;
            padding-left: 0;
          }
          
        }

        .burger-footer, p {
          margin: 0;
        }
        
      }
    }  



}

@media screen and (max-width: 600px) {

  body {
    font-size: larger;
    text-align: center;
    
    .about-main {
      padding: 0 0.5em;

    }

  }

}