$main: #E9EAEC;
$secondary: #B7B8BA;
$tertiary: #9FA0A1;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin green-shadow {
  text-shadow: 
    0 0 5px rgba(0, 100, 0, 0.5),
    0 0 10px rgba(0, 255, 0, 0.5);
}
@mixin box-shadow {
  box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
}
@mixin label {
  text-shadow: 
      1px 1px 2px $secondary, 
      1px -1px 2px $secondary, 
      -1px 1px 2px $secondary, 
      -1px -1px 2px $secondary, 
      1px 0px 2px $secondary, 
      0px 1px 2px $secondary, 
      -1px 0px 2px $secondary, 
      0px -1px 2px $secondary;
}

.matrix-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  pointer-events: none;

  .matrix-code {
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: fixed;
    top: 100%;
    color: darkgreen;
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    animation: matrixScroll 3s linear forwards;
    text-shadow: 0 0 7px lime;
  }

  @for $loop from 1 through 20 {
    .matrix-code:nth-child(#{$loop}) {
      left: #{($loop - 1) * 5%};
    }
  }

}

@keyframes matrixScroll {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    background-color: $main;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
}

.home-header {
    border: 1px solid black;
    flex: 0 1 auto;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0.4em 0em;
    white-space: nowrap; 
  
    .header-title {
      flex: 1;
      text-align: center;
      margin: 0;
    }
  
    .navbar {
      flex: 2;
    }
  
    .resume-box {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 0;
  
      .resume-button {
        box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
        @include center;
        gap: 0.8em;
        text-decoration: none;
        color: black;
        background-color: $main;
        border: 1px solid black;
        border-radius: 5% / 30%;
        padding: 0.3em 0.5em;
      }
    }
}

.burger-header {
  display: none;

  [type='checkbox'] {
  display: none;
  }

}


.home-main {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        " . . title title title sidebar sidebar"
        " . . video video video sidebar sidebar"
        " . . video video video sidebar sidebar"
        " . . buttons buttons buttons sidebar sidebar"; 
    border: 1px solid black; 
    border-top: 0;
    place-content: center;
    
    .home-title {
        grid-area: title;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        h1 {
            @include green-shadow;
            font-size: 3em;
        }
    }

    .video-intro {
        grid-area: video;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 2em 0 0 0;
        
        #intro {
            aspect-ratio: 16 / 10;
            width: 80%;
            height: auto;
        }
    }

    .sidebar {
      grid-area: sidebar;
      text-align: center;

      .headshot-container {
        @include center;
        padding: 2em 0 0 0;

        .headshot {
          @include box-shadow;
          width: 50%;
          border-radius: 10%;
  
        }

      }  

      .contact-form {
        
        @include center;
        flex-direction: column;

        .input {
          box-sizing: border-box;
          font-family: 'Courier New', Courier, monospace;
          width: 100%;
          
        }

      }

    }

    .nav-buttons {
        grid-area: buttons;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em 0 0 0;
        
        .nav-button {
          @include box-shadow;
          @include center;
          text-decoration: none;
          border: 1px solid black;
          border-radius: 10% / 20%;
          color: black;
          background-color: $secondary;
          height: 2.5em;
          width: 6em;
          
        }

    }

}


.home-footer {
  flex: 0 0 auto;
  border: 1px solid black; 
  border-top: 0;
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0em 2em;
  white-space: nowrap;
  max-height: 2.5em;



  h3 {
    margin-left: auto;
  }

}

.socials > a { 
  text-decoration: none;
  font-size: x-large;
  
  .instagram-icon {
    background: linear-gradient(to right,
    #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    color: black; 
    -webkit-text-fill-color: transparent;  
  }

  .facebook-icon {
    color: #4267B2;
  }

  .linkedin-icon {
    color: #0a66c2;
  }

  .threads-icon {
    color: black;
  }

  .github-icon {
    color: black;
  }
}

.copyright {
  font-weight: bold;
  flex: 0 0 auto;
  border: 1px solid black; 
  border-top: 0;
  @include center;
  max-height: 1.5em;
  background-color: $tertiary;

  p {
    margin: 0;
    
  }
  
}

.navbar {
  @include center;

  ul {
      display: flex; 
      flex-flow: row nowrap;    
      list-style: none;
      margin: 0;
      padding: 0;

      li {
          
          &:not(:first-child) {
          border-left: 1px solid black;
          }

          a:not(.current) {
          color: blue;
          padding: 0.5em;
          }
          
          .current {
              color: black;
              pointer-events: none;
              cursor: default;
              text-decoration: none;
              font-weight: bold;
              padding: 0.5em;
          }
      }
  }
}

@media screen and (max-width: 1024px) {
  
  .home-footer, .home-header, .copyright {
    display: none;
  }

  body, html {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: auto; 
    height: auto;
    // overflow: hidden;

    .home-main {
      padding: 2em;
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: fit-content;
      border: 0;

      .home-title {
        order: 1;
      }

      .sidebar {
        order: 2;
        @include center;
        flex-flow: row wrap;
        align-content: center;
        width: 90vw;
        gap: 1em;

        .headshot-container {
          @include center;
          flex: 0 1 auto;
          padding: 0;
          width: fit-content;
          padding: 0;

          .headshot {
            width: 20vw;
          }
        
        }

        .introduction {
          flex: 1 1 0;
          min-width: 25em;
          @include center;
          flex-direction: column;
          height: 100%;
        }

        .contact-form {
          flex: 0 0 auto;
          width: fit-content;
        }

      }

      .video-intro {
        order: 3;
        width: 60%;
      }

      .nav-buttons {
        order: 4;
      }
      
    }

  }  

  .burger-header {
    position: fixed;
    pointer-events: none;
    flex: 1 1 auto;
    z-index: 1;
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;

    &:has(input[type='checkbox']:checked) {
      background-color: $secondary;
      border: 1px solid black;
    }

    label {
      pointer-events: auto;
      @include label;
      font-size: x-large;
      width: 1em;
      text-align: right;
      display: block;
      padding: 0.5em;
      line-height: 1.6em;
    }
    
    input[type='checkbox']:checked + section {
      pointer-events: auto;
      max-height: 100vh;
      opacity: 1;
      transform: translateY(0);
    }
    
    section {
      max-height: 0;
      opacity: 0;
      transform: translateY(-200%);
      overflow: hidden;
      transition: max-height 1s ease, opacity 0.5s ease, transform 1s ease;
      // transition stuff above
      height: 100%;
      padding: 0 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      
      h2 {
        font-size: 1em;
        text-align: center;
        margin: 0;
      }

      ul {
        list-style: none;
        padding: 0;
        
        li {
          padding: 0.5em 0;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          a {
            color: black;
            text-decoration: none;
            
            i {
              text-align: center;
              width: 1.2em;
            }
          }
          
        }

      }

      .socials {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        
        a {
          padding-right: 0.5em;
        }
        
      }

      .burger-footer, p {
        margin: 0;
      }
      
    }
  } 

}

@media screen and (max-width: 600px) {

  body {
    font-size: larger;
    text-align: center;
    
    .home-main {
      // margin-left: -1em;
      padding: 0;
      margin: 0;

      .sidebar {
        order: 3;
        flex-flow: column nowrap;
        width: 100%;
        display: flex;

        .introduction {
          order: -1;
          min-width: auto;
        }

        .headshot-container > .headshot {
           
          width: 60%;
          height: auto;  
        }

        .contact-form {
          width: 100%;
          height: auto;

          form {
            width: 80%;
            height: auto;
            
              input, textarea {
              font-size: x-large;
            }

          }

        }

      }

      .video-intro {
        order: 2;
        width: 100%;
        height: auto;
      }

    }

  }

}