body, html {
  font-family: "Courier New", Courier, monospace;
  background-color: #E9EAEC;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.testimonials-header {
  border: 1px solid black;
  flex: 0 1 auto;
  background-color: #B7B8BA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0em;
  white-space: nowrap;
}
.testimonials-header .header-title {
  flex: 1;
  text-align: center;
  margin: 0;
}
.testimonials-header .navbar {
  flex: 2;
}
.testimonials-header .resume-box {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0;
}
.testimonials-header .resume-box .resume-button {
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  text-decoration: none;
  color: black;
  background-color: #E9EAEC;
  border: 1px solid black;
  border-radius: 5%/30%;
  padding: 0.3em 0.5em;
}

.burger-header {
  display: none;
}
.burger-header [type=checkbox] {
  display: none;
}

.testimonials-main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 1px solid black;
  border-top: 0;
}
.testimonials-main .testimonials-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.testimonials-main .testimonials-title h1 {
  text-shadow: 0 0 5px darkgreen, 0 0 10px lime;
  font-size: 3em;
}
.testimonials-main .testimonials-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  flex-flow: row wrap;
  align-content: space-around;
  text-align: center;
  gap: 3em;
  margin-top: 3em;
}
.testimonials-main .testimonials-containers .container {
  flex: 0 1 40%;
  max-width: 60rem;
  background-color: #B7B8BA;
  border: 1px solid black;
  border-radius: 5%/10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}
.testimonials-main .testimonials-containers .container img {
  flex: 0 1 30%;
  max-width: 100%;
  height: auto;
  max-height: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials-main .testimonials-containers .container .container-text {
  flex: 1 1 60%;
  text-align: center;
}
.testimonials-main .nav-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}
.testimonials-main .nav-buttons .nav-button {
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10%/20%;
  color: black;
  background-color: #B7B8BA;
  height: 2.5em;
  width: 6em;
}

.testimonials-footer {
  flex: 0 0 auto;
  border: 1px solid black;
  border-top: 0;
  background-color: #B7B8BA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
  white-space: nowrap;
  max-height: 2.5em;
}
.testimonials-footer h3 {
  margin-left: auto;
}

.socials > a {
  text-decoration: none;
  font-size: x-large;
}
.socials > a .instagram-icon {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
  -webkit-text-fill-color: transparent;
}
.socials > a .facebook-icon {
  color: #4267B2;
}
.socials > a .linkedin-icon {
  color: #0a66c2;
}
.socials > a .threads-icon {
  color: black;
}
.socials > a .github-icon {
  color: black;
}

.copyright {
  font-weight: bold;
  flex: 0 0 auto;
  border: 1px solid black;
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1.5em;
  background-color: #9FA0A1;
}
.copyright p {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li:not(:first-child) {
  border-left: 1px solid black;
}
.navbar ul li a:not(.current) {
  color: blue;
  padding: 0.5em;
}
.navbar ul li .current {
  color: black;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
}

@media screen and (max-width: 1024px) {
  .testimonials-footer, .testimonials-header, .copyright {
    display: none;
  }
  .burger-header {
    position: fixed;
    flex: 1 1 auto;
    z-index: 1;
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
  }
  .burger-header:has(input[type=checkbox]:checked) {
    background-color: #B7B8BA;
    border: 1px solid black;
  }
  .burger-header label {
    text-shadow: 1px 1px 2px #B7B8BA, 1px -1px 2px #B7B8BA, -1px 1px 2px #B7B8BA, -1px -1px 2px #B7B8BA, 1px 0px 2px #B7B8BA, 0px 1px 2px #B7B8BA, -1px 0px 2px #B7B8BA, 0px -1px 2px #B7B8BA;
    font-size: x-large;
    width: 1em;
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
  }
  .burger-header input[type=checkbox]:checked + section {
    max-height: 100vh;
    opacity: 1;
    transform: translateY(0);
  }
  .burger-header section {
    max-height: 0;
    opacity: 0;
    transform: translateY(-200%);
    overflow: hidden;
    transition: max-height 1s ease, opacity 0.5s ease, transform 1s ease;
    height: 100%;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .burger-header section h2 {
    font-size: 1em;
    text-align: center;
    margin: 0;
  }
  .burger-header section ul {
    list-style: none;
    padding: 0;
  }
  .burger-header section ul li {
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .burger-header section ul li a {
    color: black;
    text-decoration: none;
  }
  .burger-header section ul li a i {
    text-align: center;
    width: 1.2em;
  }
  .burger-header section .socials {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  .burger-header section .socials a {
    padding-right: 0.5em;
  }
  .burger-header section .burger-footer, .burger-header section p {
    margin: 0;
  }
  .testimonials-main > .testimonials-containers > .container {
    border-radius: 15%/10%;
  }
}
@media screen and (max-width: 600px) {
  body {
    text-align: center;
  }
  body .testimonials-main {
    padding: 0 0.5em;
  }
  body .testimonials-main .testimonials-containers > .container {
    border-radius: 10%/15%;
    flex: 1 1 100%;
    padding: 0.5em 0;
  }
  body .testimonials-main #waiter {
    border-top: none;
  }
}
@media screen and (max-width: 418px) {
  body {
    font-size: small;
  }
  body .testimonials-main > .testimonials-containers > .container {
    border-radius: 15%/10%;
  }
}/*# sourceMappingURL=testimonials-styles.css.map */